
<body>
<div class="container gradient-background">
    <div class="about-us">
        <div class="col p-3 text-white" style="text-align: center;"><h1><b>About Us</b></h1>
            Welcome to NetServe, your premier solution for modern Customer Service Management. At NetServe, we understand that at the heart of every successful business is a satisfied customer. That's why we've dedicated ourselves to creating a platform that not only meets but exceeds the expectations of both businesses and their clients alike.
        </div>
    </div>
    
        <div class="row justify-content-end" >
            <div class="col-auto" style="margin-top: 0px; margin-right: 8%;">
                <!-- <div class="card" style="width: 82rem;">
                    <img src="../../../assets/imgprj.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">NetServe</h5>
                        <p class="card-text"><b>Job is to provide end to end support to our customers and provide speedy network so that users can stay connected to this world.</b></p>
                        <a href="#" class="btn btn-primary">Home</a>
                    </div>
                </div> -->
                <div class="col-auto" style="margin-top: 0px; margin-left: 0px;" style="  display: flex; align-items: center; justify-content: center; color: black;">
                   
                    <div class="card" style="  display: flex; align-items: center; justify-content: center;">
                        <img src="../../../assets/imgprj.jpeg" class="card-img-top img-fluid" alt="..."  style="">
                        <div class="card-body" style="color: rgb(0, 0, 0); text-align: center;" >
                            <h5 class="card-title" style="color: rgb(0, 0, 0); text-align: center;">NetServe</h5>
                            <p class="card-text"><b>Job is to provide end to end support to our customers and provide speedy network so that users can stay connected to this world.</b></p>
                            <a href="#" class="btn btn-primary">Home</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    
    <div class="row" style="text-align: center;">
        <div class="col p-3 text-white"><h1><b>Our Mission</b></h1>
            Our Mission is <b>"Providing top-notch network solutions with excellence and expertise."</b>
        </div>
    </div>
    
    <div class="row" style="text-align: center;">
        <div class="col p-3 text-white"><h1><b>What We Offer</b></h1>
            <b>NetServe offers a comprehensive suite of customer service management tools tailored to the modern business landscape.</b>
            <br><br>
            <b><h1 style="font-weight:bold;">Our Features Are:</h1></b>
            <div class="con">
                <div class="tile-container">
                    <div class="tile">Diverse Plan and Packages</div>
                    <div class="tile">Connectivity Network</div>
                    <div class="tile">Value-Added Services</div>
                    <div class="tile">Security and Privacy</div>
                    <!-- Add more tiles as needed -->
                </div>
            </div>
            Our mission is simple yet ambitious to revolutionize how businesses interact with their customers. We aim to streamline customer service processes, making them more efficient, more responsive, and ultimately, more personal. Our platform is designed to
