.registration{
    margin: 0;
    padding: 0;
    height: 100vh;
    /* background-image: linear-gradient(to right, #015eff, #00bfff,rgb(7, 205, 255)); Gradient background colors */

    /* background-image: url(https://imgs.search.brave.com/tuMrplV_qcBNlI9SGv52jWf1yqdUoveXzLnxtrHjeGg/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9h/YnN0cmFjdC1kaWdp/dGFsLWdyaWQtYmxh/Y2stYmFja2dyb3Vu/ZF81Mzg3Ni05NzY0/Ny5qcGc_c2l6ZT02/MjYmZXh0PWpwZw); */
    /* background-image: url(https://img.freepik.com/free-photo/abstract-digital-grid-black-background_53876-97647.jpg?size=626&ext=jpg&ga=GA1.1.735520172.1711065600&semt=ais); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: url(https://img.freepik.com/free-photo/abstract-digital-grid-black-background_53876-97647.jpg?size=626&ext=jpg&ga=GA1.1.735520172.1711065600&semt=ais); */
    background-size:cover; /* Cover the entire background */
    background: linear-gradient(135deg, #0A0A0A 0%, #2C3E50 100%);

   
    

}