<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="background: linear-gradient(135deg, #0A0A0A 0%, #2C3E50 100%);">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">NexGen Networx</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!" routerLink="/home" routerLinkActive="active">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!" routerLink="/issueStatus" routerLinkActive="active">Issue-Status</a></li>
                <li class="nav-item"><a class="nav-link" href="#!" routerLink="/contact" routerLinkActive="active">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="#!" routerLink="/about" routerLinkActive="active">About</a></li>
                <!-- Conditionally display Login or Logout -->
                <li class="nav-item" *ngIf="length == 0"><a class="nav-link" href="#!" routerLink="/login">Login</a></li>
                <!-- Logout -->
                <li class="nav-item" *ngIf="length > 0">
                    <a class="nav-link" href="#!" (click)="logout()" (mouseover)="showTooltip = true" (mouseleave)="showTooltip = false">Logout
                        <div class="tooltip-content" *ngIf="showTooltip == true">
                            <pre>
                                UserId: {{userdetails.userId}}
                                UserName: {{userdetails.userName}}
                            </pre>
                        </div>
                    </a>
                </li>
            </ul>  
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
