.login-b {
  width: 400px;
  height: 450px;
  margin: 0 auto; /* Center the form horizontally */
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background: linear-gradient(135deg, #0A0A0A 0%, #2C3E50 100%);
  color: rgb(255, 253, 253);
  font-size: larger;
  
  border-width: 5px;
  
  
}

.login-b form {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.login-b form div {
  margin-bottom: 15px;
}



.login-b form input {
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin-bottom: 15px;
}

/* .body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:linear-gradient(rgb(21, 0, 255),white);
  height: 100vh;
} */
/* .body {
  margin: 0;
  padding: 0;
  height: 100vh;

  background-image: url(https://imgs.search.brave.com/tuMrplV_qcBNlI9SGv52jWf1yqdUoveXzLnxtrHjeGg/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9h/YnN0cmFjdC1kaWdp/dGFsLWdyaWQtYmxh/Y2stYmFja2dyb3Vu/ZF81Mzg3Ni05NzY0/Ny5qcGc_c2l6ZT02/MjYmZXh0PWpwZw);
  display: flex;
  justify-content: center;
  align-items: center;
} */
.login{
  text-align: center;
  font-weight: 20px;
  font-weight: bold;
  font-size: 30px;
}
.container-newuser{
  display: flex;
  justify-content: center; /* Center horizontally */
  margin-top: 10px;
}


.button{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px;
  margin-top: 10px;
  
}

.button{
  margin-bottom: 40px;
}


.success-popup{
  position: fixed;
  bottom: 0;
  right: 43%;
  background-color: #89e46a; /* Light red background for errors */
  color: #20721c; /* Dark red text color */
  padding: 20px;
  border-radius:10px 10px;
  width: auto;
  min-width: 200px;
  min-height: 40px;
  text-align: center;
  /* transition: all 0.3s ease; /* Smooth transition for the popup */
  /* z-index: 1000; Ensure it's above other content */ 
}
.error-popup{
  position: fixed;
  bottom: 0;
  right: 43%;
  background-color: #e4746a; /* Light red background for errors */
  color: #721c1c; /* Dark red text color */
  padding: 20px;
  text-align: center;
  border-radius:  10px 10px;
  width: auto;
  min-width: 200px;
  min-height: 40px;
  transition: all 0.3s ease; /* Smooth transition for the popup */
  z-index: 1000; /* Ensure it's above other content */
}


