<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                <h2 class="h4 fw-bolder">Reliability meets excellence</h2>
                <p>Experience top-tier network solutions designed to elevate your connectivity experience to new heights.</p>
                <a class="text-decoration-none" href="#!">
                    Discover our services
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                <h2 class="h4 fw-bolder">Innovative network solutions</h2>
                <p>Discover cutting-edge technologies and personalized services tailored to meet your network needs.</p>
                <a class="text-decoration-none" href="#!">
                    Explore our offerings
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                <h2 class="h4 fw-bolder">Seamless customer experience</h2>
                <p>Join us in a journey of exceptional service and unparalleled commitment to your network satisfaction.</p>
                <a class="text-decoration-none" href="#!">
                    Get in touch with us
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>